BasedOnStyle: Microsoft
IndentWidth: 4

Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Right
SortIncludes: false
AlwaysBreakTemplateDeclarations: Yes
PackConstructorInitializers: NextLineOnly
